<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Tamara's Personal Site</title>
    <link rel="stylesheet" href="./tamara_files/styles.css">
  </head>

  <body data-new-gr-c-s-check-loaded="14.1200.0" data-gr-ext-installed="">
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="./static/tamara.jpg" alt="tamara profile picture" width=200px></td>
        <td><h1>Tamara Arnaudovska</h1>
        <p><em>Enthusiast Python Developer</strong>.</em></p>
        <p>I am a Python programmer. I ❤️ coffee and make wish cards.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Courses</h3>
    <ul>
      <li>Udemy course: "100 Days of Code: The Complete Python Pro Bootcamp"</li>
      <li>Udemy course: "The Complete Python Bootcamp From Zero to Hero in Python."</li>
    </ul>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Python 3</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Python GUI development with Tkinter</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Front-end development: HTML5, CSS3, and Bootstrap 4</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Backend development: Flask, REST APIs, SQL, and authentication</td>
        <td>⭐️⭐️</td>
      </tr>
      <tr>
        <td>Version control with Git/GitHub</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Deployment using GitHub Pages, Heroku, and Gunicorn</td>
        <td>⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="https://github.com/tarnaudovska">My GitHub</a>
    <a href="https://www.linkedin.com/in/tamaraarnaudovska/">My Linkedin</a>
  

</body><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowrootmode="open"><style>
      div.grammarly-desktop-integration {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
      }

      div.grammarly-desktop-integration:before {
        content: attr(data-content);
      }
    </style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration></html>